*{
    margin: 0;
    box-sizing: border-box;
}
body {
    max-height: 100vh;
    background: #000000e8;
    color: #d6d6d6;
    font-family: sans-serif;
    font-size: 1.5rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.container{
    max-width: 400px;
    margin: auto;
    background: #0d0d0d;
    box-shadow: 0px -1px 10px 0px #0b0b0b;
    min-height: 500px;
    height: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
}
.inner-container.input{
    height: 60%;
}
.inner-container.display {
    padding: 5%;
    height: 40%;
    border-radius: 20px 20px 0px 0px;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    width: 100%;
}
.flex-container, .col {
    display: flex;
    flex-direction: column;
}
.flex-container {
    flex-direction: row;
}
.col {
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.col, .flex-container {
    height: 100%;
}
.btn {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border: 0.1px solid #000;
    border-collapse: collapse;  
    height: 100%;  
}
.btn:active{
    background: #282828;
}
div.col5{
    border-radius: 0px 20px;
}
div#equals-to>.align-center {
    border-radius: 0 0 20px 0;
    background-color: lime;
    color: #000;
}
div.btn-00>.align-center:active {
    border-radius: 0 0 0 20px;
}
div.btn-0{
    border-radius: 0px 0px 0px 20px;
}
div#equals-to{
    border-radius: 0px 0px 20px 0px;
    height: 80%;
}
div#division {
    height: 20%;
}
.btn.btn-green{
    color: lime;
}
.btn.btn-green:active{
    background-color: lime;
    color:#000;
}
h2.output {
    font-size: 3rem;
    color: white;
    text-align: end;
}
h2.output.symbol {
    font-size: 2.5rem;
    color: rgb(183, 183, 183);
    text-align: end;
}
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: inherit;
    cursor: pointer;
    padding: 0;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: inherit;
}
div#equals-to>.align-center:active {
    background: #0d0d0d;
    color: lime;
}